<div class="btn-group btn-group-justified">
	<div class="btn">
		<a href="https://twitter.com/LUISALFONSOSR" target="_blank" class="darken">
			<img src="{{ site.baseurl}}/images/twitter-icon.png">
		</a>
	</div>
	<div class="btn">
		<a href="https://www.facebook.com/LuisAlfonsoSilvaRomo" target="_blank" class="darken">
			<img src="{{ site.baseurl}}/images/facebook-icon.png">
		</a>
	</div>
	<div class="btn">
		<a href="http://www.pinterest.com/chebo80" target="_blank" class="darken">
			<img src="{{ site.baseurl}}/images/pinterest-icon.png">
		</a>
	</div>
	<div class="btn">
		<a href="http://mx.linkedin.com/pub/luis-alfonso-silva-romo/17/96a/41" target="_blank" class="darken">
			<img src="{{ site.baseurl}}/images/linkedin-icon.png">
		</a>
	</div>
	<div class="btn">
		<a href="https://es.foursquare.com/luisalfonsosr" target="_blank" class="darken">
			<img src="{{ site.baseurl}}/images/foursquare-icon.png">
		</a>
	</div>
</div>